$primary-color: red;
$secondary-color: yellow;
$text-color: gray;
$backgroud-color: rgb(169, 169, 169);

body {
    background-color: $backgroud-color;
}

.container {
    max-width: 1200px;
    margin: 0;
    padding: 20px;

    .header {
        text-align: center;
        margin-bottom: 20px;

        h1 {
            color: $text-color;
        }
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 20px;
    }

    .product-card {
        background-color: white;
        border: 1px solid $text-color;
        border-radius: 12px;
        padding: 10px;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0,0,0, 0.7);

        img {
            width: 175px;
            border-radius: 12px;
        }

        h2 {
            color: $primary-color;
            margin: 10px 0;
        }

        p {
            color: $text-color;
            margin: 10px 0;
            cursor: pointer;
        }

        button {
            background-color: $primary-color;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;

            &:hover {
                background-color: $secondary-color;
                transition: $backgroud-color 1s;
            }
        }
    }

    .footer {
        text-align: center;
        margin-top: 20px;
        padding: 10px;
        background-color: $text-color;
        color: white;
    }

}

@media (max-width: 800px) {
    .product-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .product-card {
        width: 80%;
        img {
            width: 75px;
        }
    }
    
}

@media (max-width: 500px) {
    .header {
        h1 {
            font-size: 10px;
        }
    }

    .product-card {
        padding: 5px
    }
}




